.add_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

#add_recipe_page {
	display: flex;
	flex-direction: column;
	background: #FAD8B0;
	align-items: center;
	min-height: 75%;

	font-size: 22px;
	color: lightslategray;
	font-family: Optima;
}

.to_send {
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 50vw;
}

label > input {
 	width: 50%;
}

textarea {
	width: 50%;
	height: 10vh;
}

select {
	width: 50%;
}

.form_item {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_item li {
	margin-top: 1vh;
	color: lightslategray;
	font-family: Optima;
}

