.homepage {
	display: flex;
	flex-direction: column;
	width: 70vw;
	background: white;
}

.header {
	border: 2px solid gray;
	height: 20vh;
	font-weight: bold;
	font-size: 2em;
}

.nav {
	height: 80vh;
	display: flex;
	border: 2px solid gray;
	justify-content: center;
}

.nav_links {
	display: flex;
	flex-direction: column;
	border: 2px solid gray;
	justify-content: space-between;
	margin-right: 50px;
	list-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.logo {
	border: 2px solid gray;
	width: 80%;
}

.link_white {
	color: blue;
}

.img{
	max-width: 100%;
	max-height: 100%;
}