.header {
	border: 2px solid gray;
	height: 20vh;
	font-weight: bold;
	font-size: 2em;
}

.add_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.link_blue {
	color: blue;
}

#add_recipe_page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70vw;
	background: white;
}

.to_send {
	display: flex;
	flex-direction: column;	
	align-items: center;
	height: 10vh;
	weight: 30vw;
}

input {
	width: 6vw;
}