header {
    text-align: center;
    font-family: Chalkduster;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 25%;
    background: #9DC8C8;
}

.nav {
  list-style-type: none; 
  margin: 0px;
  padding: 0px;

}

.nav li {
  color: white;
}

.nav li:hover {
    background-color: #555;
    color: white;
}

.link_white {
  color: white;
  font-family: Nyala;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    margin:0px;
  }
  .nav li {
    text-align: left;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
      font-size: 1em;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    margin-top: 1.5em;
    font-size: 2em;
  }

  .nav {
    font-size: 1.5em;
  }

  .nav li {
    display: inline;
    margin-left: 1em;
  }
  
  .nav li:after {
      content: " |";
  }

  .nav li:last-child:after {
    content: "";
  }

  header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}