body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
<<<<<<< HEAD
=======

html, body, #app, #app>div {
  height: 100%
}

#root {
	height: 100%;
	overflow: scroll;
}
>>>>>>> 5b40bd41a5b7cec7f9c8e6e431c2c3404ecb9517
